/* Remove browser padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Use DM Sans as the standard font throughout the page */
body {
    font-family: 'DM Sans', sans-serif;
}

/* Make the header purple */
header {
    background-color: #33d;
    color: white;
}

/* Move the heading to the right */
header h1 {
    padding: 5px 20px;
    text-align: right;
}

/* Center image container div, space from header bar */
.image-container {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
}

/* Add border around image, make img fill containter horizontally */
.image-container img {
    width: 100%;
    height: auto;
    display: block;
    padding: 20px;
    border: solid 2px #33d;
    border-radius: 25px;
}

/* Ensure image is never wider than 1024px */
@media (min-width: 1024px) {
    .image-container {
        width: 1024px;
        margin: 0 auto;
    }
}

.functions-container {
    display: flex;
    margin: 0 auto;
    width: 30%;
    max-width: 800px;
    flex-direction: column;
    align-items: center;
}

.functions-container input[type="text"] {
    padding: 5px;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
}

.functions-container button {
    padding: 5px 20px;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    color: white;
    background-color: #33d;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    transition: transform 300ms ease;
}

.functions-container button:hover {
    background-color: #3333ddCC;
    transform: scale(1.1);
}

.find-neighbors {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

#find-neighbors-response {
    background-color: #eeeeee;
    color: lightslategray;
    font-style: italic;
    border-radius: 5px;
    padding: 5px 20px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
